@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
}

body{
    background-color: #010101;
}

header{
    width: 100%;
}

nav{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 20px 5%;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 150px;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
} 

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
}

.slider{
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .item{
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 10;
    transition: 0.5s;
}

.slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);

}

.slider .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 700px;
    max-width: 80%;
    z-index: 1;
}

.slider .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;

}

.slider .item .content h2{
    font-size: 100px;
    margin: 0;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .item p:nth-child(1), 
.slider .item h2, 
.slider .item p:nth-child(3),
.slider .item div{
    transform:  translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .75s .7s ease-in-out 1 forwards;
}

.slider .item  h2{
    animation-delay: .5s;
}

.slider .item  p:nth-child(3){
    animation-delay: .8s;
}

.slider .item div{
    animation-delay: 1.1s;
}

/* ===================== */

.slider .item form{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.slider .item .form-group{
    display: grid;
}

.slider .item label{
    cursor: pointer;
}

.slider .item .form-control{
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    border: none;
    /* border: 1px solid rgba(255,255,255,0.5); */
    color: rgb(255,255,255);
    
}

.slider .item .form-control.input{
    height: 25px;
}

.slider .item .form-control::placeholder{
    font-size: 12px;
    color: rgba(255,255,255,0.4);
}

.slider .item button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: larger;
    color: #eee;
    position: relative;
    margin-top: 5px;
    transition: .5s;
}

.slider .item button:hover{
    background-color: #eee;
    color: black;
}

 